/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  margin-left: 33px;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


/* this slide */
.slider {
  position: relative;
  padding: 0 21px;
}

.slider .slick-arrow{
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  padding: 0;
  border: none;
  width: 30px;
  height: 50px;
}

.slider .slick-arrow.slick-prev{
  left: 0;
  background: url('arrow-prev-small-svgrepo-com.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
  right: 0;
  background: url('arrow-next-small-svgrepo-com.svg') 0 0 / 100% no-repeat;

}
.slider__item {}

.slider .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider ul.slick-dots {
  padding: 0;
}

.slider .slick-dots li{
  list-style-type: none;
  margin: 0px 10px;
}
.slider .slick-dots button{
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #421801;
  padding: 0;
  border-radius: 50%;
  border: none;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #421801;
}